* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
  }
  
  .header {
    background-color: #f73737;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 90px;

  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgba(255, 255, 255, 0.444);
    transition: 0.5s;
  }
  

  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  .menu{
    list-style: none;
    margin-right: 30px
  }
  .persoanjes{
    list-style: square;
  }

  .menu li a{
   color: #fff ;
    background-color: #f73737;
    text-transform: uppercase;
    text-decoration: none;
  
  }
  .intro{
    color: rgb(87, 86, 86);
  }
  .gracias{
    color: #d16565;
  }
  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#f73737 ; 
    height: auto;
    width: 100wh;
    padding-top: 10xp; 
  }
  footer .titulo ,
  footer .copy{
   color: wheat;
   display: flex;
   justify-content: center;
   font-size: 20px;
 }
 .redes{
   display: flex;
   justify-content: center;
 }
 .redes i{
   font-size: 25px;
   padding:  30px
 }
 .fa-twitter{
   color: skyblue;
 }
 .fa-instagram{
   color: #ff65ff;
 }
 .fa-comment{
   color: greenyellow;
 }
 
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 60px;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #d16565;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #86390d;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
    footer .titulo ,
    footer .copy{
     font-size: 14px;
   }
    }